<nz-page-header>
  <nz-page-header-title>Tasks</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button (click)="resetFilters()">Clear filters</button>
    <button nz-button nzType="primary" (click)="add()">Add</button>
  </nz-page-header-extra>
</nz-page-header>
<nz-table #nzTable [nzData]="tasks | async" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzCustomFilter>
        Description
        <nz-filter-trigger
          [(nzVisible)]="visible"
          [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>
        Assignee
      </th>
      <th
        nzColumnKey="completed"
        [nzFilters]="filterComplete"
        (nzFilterChange)="completeFilter($event)"
      >
        Status
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.description }}</td>
      <td>{{ data.assigneeDisplayName }}</td>
      <td>{{ data.completed ? 'Completed' : 'In progress' }}</td>
      <td>
        <nz-space>
          <button
            nz-button
            *nzSpaceItem
            nzSize="middle"
            nzType="primary"
            [disabled]="data.completed"
            (click)="markAsComplete(data)"
          >
            Mark as complete
          </button>
          <button
            nz-button
            *nzSpaceItem
            nzSize="middle"
            nzType="primary"
            (click)="edit(data)"
          >
            Update
          </button>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search description"
        class="ant-input"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetDescriptionFilter()">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
