<nz-page-header>
  <nz-page-header-title>{{editMode ? 'Edit Task' : 'Create Task'}}</nz-page-header-title>
</nz-page-header>
<form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        formControlName="description"
        nz-input
        required
        placeholder="Task description"
        class="ant-input"
        maxlength="255"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Assignee</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select assignee"
        formControlName="assigneeId"
      >
        <nz-option
          *ngFor="let user of users | async"
          [nzValue]="user.id"
          [nzLabel]="user.name" 
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Completed</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-switch formControlName="completed"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" [disabled]="!form.valid">
          Submit
        </button>
        <button *nzSpaceItem nz-button (click)="back()">Back to task list</button>
      </nz-space>
    </nz-form-control>
  </nz-form-item>
</form>
